{%extends "layout.html"%}
{%block body%}
    <body>
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Welcome to Web Banking.</h1>
        </blockquote>
      </figure>
          <div class="card bg-dark text-white">
            <img src="https://cdn.pixabay.com/photo/2017/10/25/19/46/piggy-bank-2889046_1280.jpg" class="card-img" alt="...">
            <div class="card-img-overlay" style="color:wheat;">
              <h4 class="card-title">The Sparks bank</h4>
              <p class="card-text">Send Money anytime,anywhere in an instantaniouly between users.</p>
              <p class="card-text">For help reach out at 
                 sparkbanking@gmail.com</p>
              <p>Contact us: 62762819</p>
            </div>
            
    </body>

{%endblock%}



	

